train_data.zip
train_data.rar
train_data1/
yolov8/
test_del_none/
PKLotYoloData/
detectpklot/detectapp/model_mec/
detectpklot/detectapp/run/
detectpklot/db.sqlite3
detectpklot/images/
detectpklot/detectapp/static/image