train_data.zip
train_data.rar
train_data1/
yolov8/
test_del_none/
PKLotYoloData/
detectpklot/detectapp/mec_1.pt
detectpklot/detectapp/mec.pt
detectpklot/detectapp/run/
detectpklot/db.sqlite3
detectpklot/images/
static/runs/