.bgform {
    color: #5a5a5a;
}

.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.home {
    margin-top: 50px;
    height: 187px;
    background-color: rgb(29, 64, 128);
    width: 500px;
}

.show_img {
    margin-top: 50px;
    padding-top: 20px;
    height: auto;
    background-color: rgb(29, 64, 128);
    width: 900px;
}
.no-border{
    border: 0;
}